<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Orders History</h4>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Material Name
                                  </th>
                                  <th>
                                      Material Type
                                  </th>
                                  <th>
                                      OrderDate
                                  </th>
                                  <th>
                                      Status
                                  </th>
                                  <th>
                                    Qunatity
                                </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Ball Bearing
                                      </td>
                                      <td>
                                          Bearing
                                      </td>
                                      <td>
                                          22-4-2021
                                      </td>
                                      <td>
                                        Delivered
                                    </td>
                                      <td class="text-primary">
                                          300
                                      </td>
                                  </tr>
                                  <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        Bush Bearing
                                    </td>
                                    <td>
                                        Bearing
                                    </td>
                                    <td>
                                        22-4-2021
                                    </td>
                                    <td>
                                      Delivered
                                  </td>
                                    <td class="text-primary">
                                        300
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        30 degree top cover
                                    </td>
                                    <td>
                                        Top Cover
                                    </td>
                                    <td>
                                        22-4-2021
                                    </td>
                                    <td>
                                      Delivered
                                  </td>
                                    <td class="text-primary">
                                        300
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        Ball Bearing
                                    </td>
                                    <td>
                                        Bearing
                                    </td>
                                    <td>
                                        22-4-2021
                                    </td>
                                    <td>
                                      Delivered
                                  </td>
                                    <td class="text-primary">
                                        300
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        Ball Bearing
                                    </td>
                                    <td>
                                        Bearing
                                    </td>
                                    <td>
                                        22-4-2021
                                    </td>
                                    <td>
                                      Delivered
                                  </td>
                                    <td class="text-primary">
                                        300
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        Ball Bearing
                                    </td>
                                    <td>
                                        Bearing
                                    </td>
                                    <td>
                                        22-4-2021
                                    </td>
                                    <td>
                                      Delivered
                                  </td>
                                    <td class="text-primary">
                                        300
                                    </td>
                                </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
