<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                <h3>catagories</h3>
                <div class="d-grid">
                  <select
                    (change)="changeMaterial($event)"
                    formControlName="roleName">
                    <option disabled>Choose Material</option>
                    <option *ngFor="let role of roles">
                      {{ role }}
                    </option>
                  </select>
                  <!-- error block --> 
                  <div  *ngIf="isSubmitted && roleName?.invalid">
                    <sup>*</sup>Please provide material name
                  </div>
                  <button type="submit" >Submit</button>
                </div>
              </form>
        </div>
    </div>

    <ol   type="number">    
    <div *ngFor="let employee of employees">
        <li>
          <p>Employee ID :{{employee.id}}</p>
          <p>Name :{{employee.firstName}} {{employee.lastName}}</p>
          <p>Employee role :{{employee.role}}</p>
          <p>Employee department :{{employee.department}}</p>
          <p>Employee contact number :{{employee.contactNumber}}</p>
          <p>Employee email :{{employee.email}}</p>
        </li>
        
        <hr/>
  </div>
</ol>

</div>



 