<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Orders History</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" >
                                <thead class=" text-primary">
                                    <th>
                                        Employee ID
                                    </th>
                                    <th>
                                        Employee Name
                                    </th>
                                    <th>
                                        Contact Number
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Department
                                    </th>
                                    <th>
                                        Role
                                    </th>
                                </thead>
                                <tbody *ngFor="let employee of employees">
                                    <tr>
                                        <td (click)="onSelectEmployee(employee)" >
                                            {{employee.employeeId}}
                                        </td>
                                        <td>
                                            {{employee.employeeFirstName}} {{employee.employeeLastName}}
                                        </td>
                                        <td>
                                            {{employee.contactNumber}}
                                        </td>
                                        <td>
                                            {{employee.email}}
                                        </td>
                                        <td>
                                          {{employee.department}}
                                      </td>
                                      <td>
                                        {{employee.role}}
                                    </td>
                                       
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
  
        </div>
    </div>
  </div>
  
