<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Orders History</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" *ngFor="let employee of employees">
                                <thead class=" text-primary">
                                    <th>
                                        Employee ID
                                    </th>
                                    <th>
                                        Employee Name
                                    </th>
                                    <th>
                                        Contact Number
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Department
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td >
                                            {{employees.ID}}
                                        </td>
                                        <td>
                                            {{employees.firstName}}
                                        </td>
                                        <td>
                                            {{employees.contactNumber}}
                                        </td>
                                        <td>
                                            {{employees.email}}
                                        </td>
                                        <td>
                                          {{employees.department}}
                                      </td>
                                       
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
  
        </div>
    </div>
  </div>
  
