<form [formGroup]="registrationForm"  (ngSubmit)="onSubmit()">
    <div class="d-grid">
      <select
        formControlName="OrderDate">
        <option >Today's Orders </option>
        <option >Yesterday's Orders </option>
      </select>
      <!-- error block --> 
      <button type="submit">Submit</button>
    </div>
  </form>


  <ol  *ngFor="let Order of orders">
    <li> <b> Order:</b> {{Order.name}}. <b> status: </b>{{Order.status}}</li>    
    <button type="submit">details</button>
</ol>




    