<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="./assets/img/faces/marc.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">SUPERVISOR</h6>
                        <h4 class="card-title">Vedant Yadav</h4>
                        <p class="card-description">   </p>
                        <h5><span class="tim-note"></span>Email: vedant@gmail.com </h5>
                        <h5><span class="tim-note"></span>Contact NO: 988874654 </h5>
                        <h5><span class="tim-note"></span>Department: G550 Line </h5>
                        <h5><span class="tim-note"></span>BirthDate:07-01-2001</h5>

                    </div>
                </div>
            </div>
        </div>
    </div>
  </div> 
  

