
<div *ngIf="taskdetails">

    <h2>Task Details</h2>
    <hr>
    <div class="card" >
      <div class="card-header bg-dark text-white">
        Task details
      </div>
      <p class="card-text">
        <strong>Drop:</strong> {{ department }}
      </p>

      <div *ngFor="let task of taskdetails">
      <div class="card-body">
        <div class="row">
          <div>
            <div class="card" >
              <div class="card-body">
                <div class="row">
                  <!-- Left Half: Image -->
                  
                  <!-- Right Half: Card Title and Text -->
                  <div class="col-md-6">
                    <p class="card-text">
                      <strong>Order Id:</strong> {{ task.orderId }}
                    </p>
                    <p class="card-text">
                      <strong>Pick up:</strong> {{ task.section }}
                    </p>
                    
                   </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>
<a  (click)="onPicked() " *ngIf="Status=='Ready To Dispatch'" class="btn btn-primary">Picked</a>
<a  (click)="onDeliver()" *ngIf="Status=='Picked'" class="btn btn-primary">Deliver</a>
</div>
</div> 

  
