<div class="container">
  <div class="row">
    <h2>Departments</h2>
    <ng-container *ngFor="let department of departments;  let i = index" >
      <div class="col-md-1 mb-3" (click)="onSelectedDepartment(department.department)">
        <a class="card-link">
          
          <div class="card position-relative">
            <!-- <img  src="{{ warehouse.imageUrl }}" class="card-img-top img-transparent" alt="Warehouse Image"> -->
            <div class="card-body position-absolute top-0 start-50 translate-middle-x p-1">
              <span class="badge bg-danger" >
                <strong></strong> {{department.department}}
              </span>
            </div>
          </div>
        </a>
      </div>
      <div class="clearfix visible-md-block" *ngIf="(i + 1) % 12 === 0"></div>
    </ng-container>
  </div>
</div>












  <div *ngIf="departments">
    <table class="table table-hover"  >
    
            <thead class="thead-dark" >
                <tr>
                    <th class="text-center" style="width: 100px;">Department</th>
                    <th class="text-center" style="width: 150px;">FirstSupervisor</th>
                    <!-- <th class="text-center" style="width: 150px;">First Supervisor</th> -->
                    <th class="text-center" style="width: 150px;">SecondSupervisor</th>
                    <!-- <th class="text-center" style="width: 150px;">second supervisor</th> -->
                </tr>
            </thead>
            <tbody>
                <tr mat-row *ngFor="let department of departments">
                    <td class="text-center" style="width: 100px;">{{ department.department }}</td>
                    <td class="text-center" style="width: 150px;">{{ department.firstSupervisorName}}</td>
                    <!-- <div class="btn-group mt-3">
                        <button type="button" (click)="onSelectedEmployeeForSwap(departments)" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Swap
                        </button>
                        <div class="dropdown-menu" style="max-height: 200px; overflow-y: auto;">
                          <a class="dropdown-item" *ngFor="let employee of departments" (click)="onSelectedEmployeeForSwap(employee)">{{employee.firstSupervisorName}}</a>
                        </div>
                      </div> -->
                    
                    <td class="text-center" style="width: 200px;" >{{ department.secondSupervisorName }}</td>
                    <!-- <div class="btn-group mt-3">
                        <button type="button" (click)="onSelectedEmployeeForSwap(departments)" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Swap
                        </button>
                        <div class="dropdown-menu" style="max-height: 200px; overflow-y: auto;">
                          <a class="dropdown-item" *ngFor="let employee of departments" (click)="onSelectedEmployeeForSwap(employee)">{{employee.secondSupervisorName}}</a>
                        </div>
                      </div>               -->
                </tr>
            </tbody>   
    </table>
</div>
  
  
  
  
