  
  <div *ngIf="departments">
    <table class="table table-hover"  >
    
            <thead class="thead-dark" >
                <tr>
                    <th class="text-center" style="width: 100px;">Department</th>
                    <th class="text-center" style="width: 150px;">FirstSupervisor</th>
                    <th class="text-center" style="width: 150px;">SecondSupervisor</th>
                </tr>
            </thead>
            <tbody>
                <tr mat-row *ngFor="let department of departments">
                    <td class="text-center" style="width: 100px;">{{ department.department }}</td>
                    <!-- <td class="text-center" style="width: 150px;">{{ department.name}}</td>
                    <td class="text-center" style="width: 200px;" >{{ department.name }}</td>               -->
                </tr>
            </tbody>   
    </table>
</div>
  
  
  
  
