<div *ngIf="isUser()">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- Store Incharge links -->
                <li class="nav-item" *ngIf="isroleStoreIncharge()"><a class="nav-link"
                        [routerLink]="['/storeincharge/dashboard']" routerLinkActive="router-link-active">dashboard</a>
                </li>
                <li class="nav-item" *ngIf="isroleStoreIncharge()"><a class="nav-link"
                        [routerLink]="['/storeincharge/department']"
                        routerLinkActive="router-link-active">Department</a></li>
                <li class="nav-item" *ngIf="isroleStoreIncharge()"><a class="nav-link"
                        [routerLink]="['/storeincharge/updateinventory']"
                        routerLinkActive="router-link-active">Store</a></li>
                <li class="nav-item" *ngIf="isroleStoreIncharge()"><a class="nav-link"
                        [routerLink]="['/storeincharge/updatematerial']"
                        routerLinkActive="router-link-active">Shipments</a></li>

                <!-- store Managers links -->
                <li class="nav-item" *ngIf="isroleStoreManager()"><a class="nav-link"
                        [routerLink]="['/storemanager/dashboard']">
                        Dashboard</a></li>
                <li class="nav-item" *ngIf="isroleStoreManager()"><a class="nav-link"
                        [routerLink]="['/storemanager/orderhistory']"
                         routerLinkActive="router-link-active">Orders</a>
                </li>

                <!-- Supervisors links -->
                <li class="nav-item" *ngIf="isroleSupervisor()"><a class="nav-link"
                        [routerLink]="['/supervisor/dashboard']">
                        Dashboard</a></li>
                <li class="nav-item" *ngIf="isroleSupervisor()"><a class="nav-link" [routerLink]="['/supervisor/store']"
                        routerLinkActive="router-link-active">Store</a></li>
                <li *ngIf="isroleSupervisor()"><a class="nav-link" [routerLink]="['/supervisor/requesthistory']"
                        routerLinkActive="router-link-active">My Requests</a></li>

                <!-- store worker -->
                <li class="nav-item" *ngIf="isroleStoreWorker()"><a class="nav-link"
                        [routerLink]="['/storeworker/dashboard']" routerLinkActive="router-link-active">dashboard</a>
                </li>
                <li class="nav-item" *ngIf="isroleStoreWorker()"><a class="nav-link"
                        [routerLink]="['/storeworker/taskhistory']" routerLinkActive="router-link-active">Shipments</a>
                </li>

            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/shared/profile']"  routerLinkActive="router-link-active"
                        *ngIf="isUser()">{{
                        user.firstName }} {{ user.lastName }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="isUser()" (click)="loggedOut()" >Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
</div>