<div class="container mt-4">
    <!-- First Row -->
    <div class="row">
      <div class="col-md-4">
        <div class="card bg-primary text-white rounded">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="icon">
                  <img src="./assets/img/employee.png" width="100" height="100" alt="Total Employees Icon" class="img-fluid rounded">
                </div>
              </div>
              <div class="col-md-8">
                <h5 class="card-title">Total Employees</h5>
                <p class="card-text">123</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Add two more cards in the same way -->
      <div class="col-md-4">
        <div class="card bg-primary text-white rounded">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="icon">
                    <img src="./assets/img/employee.png" width="100" height="100" alt="Total Employees Icon" class="img-fluid rounded">
                  </div>
                </div>
                <div class="col-md-8">
                  <h5 class="card-title">Total Employees</h5>
                  <p class="card-text">123</p>
                </div>
              </div>
            </div>
          </div>
      </div>
  
      <div class="col-md-4">
        <div class="card bg-primary text-white rounded">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="icon">
                    <img src="./assets/img/employee.png" width="100" height="100" alt="Total Employees Icon" class="img-fluid rounded">
                  </div>
                </div>
                <div class="col-md-8">
                  <h5 class="card-title">Total Employees</h5>
                  <p class="card-text">123</p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  
    <!-- Second Row -->
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="card bg-primary text-white rounded">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="icon">
                    <img src="./assets/img/employee.png" width="100" height="100" alt="Total Employees Icon" class="img-fluid rounded">
                  </div>
                </div>
                <div class="col-md-8">
                  <h5 class="card-title">Total Employees</h5>
                  <p class="card-text">123</p>
                </div>
              </div>
            </div>
          </div>
      </div>
  
      <div class="col-md-4">
        <div class="card bg-primary text-white rounded">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="icon">
                    <img src="./assets/img/employee.png" width="100" height="100" alt="Total Employees Icon" class="img-fluid rounded">
                  </div>
                </div>
                <div class="col-md-8">
                  <h5 class="card-title">Total Employees</h5>
                  <p class="card-text">123</p>
                </div>
              </div>
            </div>
          </div>
      </div>
  
      <div class="col-md-4">
        <div class="card bg-primary text-white rounded">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="icon">
                    <img src="./assets/img/employee.png" width="100" height="100" alt="Total Employees Icon" class="img-fluid rounded">
                  </div>
                </div>
                <div class="col-md-8">
                  <h5 class="card-title">Total Employees</h5>
                  <p class="card-text">123</p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  