.grid-item:hover {
    background-color: #f5f5f5; /* Change this color to your desired hover color */
  }
  /* Custom CSS */

  
  .custom-link {
    color: #63a3f8; /* Link color */
    transition: background-color 0.3s; /* Smooth background color transition */
  }
  
  .custom-link:hover {
    background-color: #081296; /* Background color on hover */
    color: #fff; /* Text color on hover */
    text-decoration: none; /* Remove underline on hover */
    border-color: #0062cc; /* Change border color on hover */
}
  
  /* Custom CSS */
.custom-btn:hover {
    background-color:#081296;  /* Change background color on hover */
    border-color: #0062cc; /* Change border color on hover */
    color: #fff; /* Text color on hover */
  }
  