<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <input type="number" [(ngModel)]="materialId">
                <button (click)="getMaterialById(materialId)" class="btn btn-success">Search</button>

                <div class="card card-chart" *ngIf="material && material.materialId !=0">
                    <form>
                    <div class="card-header card-header-success">
                        <!-- <div class="ct-chart" id="dailySalesChart"></div> -->
                        <img src="{{material.materialImgUrl}}" alt="">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Material Id: {{material.materialId}}</h4>
                        <h4 class="card-title">Material Type: {{material.materialType}}</h4>
                        <h4 class="card-title">Material Name: {{material.materialName}}</h4>
                        <h4 class="card-title">Current Quantity: {{material.materialQuantity}}</h4>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Qunatity" type="number" #quantity >
                          </mat-form-field>
                            <button class="btn btn-danger pull-left"  (click)="getValue(quantity.value)" type="button">Update</button>
                    </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
