<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <input type="number" [(ngModel)]="materialId">
        <button (click)="getMaterialById(materialId)" class="btn btn-success">Search</button>
      </div>
    </div>
    <div class="row" *ngIf="material && material.materialId !=0">
      <div class="col-md-7">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Register Form</h4>
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-md-8">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="id" type="number" name="materialId" #materialId="ngModel"
                    [(ngModel)]="material.materialId" readonly>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="material name" type="text" name="materialName" #materialName="ngModel"
                    [(ngModel)]="material.materialName" readonly>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="material type" type="text" name="materialType" #materialType="ngModel"
                    [(ngModel)]="material.materialType" readonly>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Current quantity" type="number" name="materialQuantity"
                    #materialQuantity="ngModel" [(ngModel)]="material.materialQuantity" readonly>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-8">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="updateQuantity" type="number" name="updateQuantity"
                    #updateQuantity="ngModel" [(ngModel)]="material.updateQuantity">
                </mat-form-field>
              </div>
            </div>

            <button mat-raised-button type="submit" class="btn btn-danger pull-right"
              (click)="update()">Register</button>
            <div class="clearfix"></div>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>