<h2>Orders</h2>
<hr>
<div >
    <table style="width:60%">
        <thead>
            <th>Request ID</th>
            <th>Request date</th>
            <th>Supervisor's name</th>
            <th>Status</th>

        </thead>

        <tbody>
            <tr  *ngFor="let request of requests">
                <td> {{request.requestId}}</td> 
                <td> {{request.date}}</td> 
                <td> {{request.employeeFirstName}}  {{request.employeeLastName}}</td> 
                <td> {{request.status}}</td> 

                 <td><button (click)="onView(request.requestId)">View</button></td>
            </tr>  

        </tbody>

    </table>
</div>

