<div *ngIf="userDetails">
    <h2>User Details</h2>
    <hr>
    <div class="card" >
      <div class="card-header bg-dark text-white">
        details
      </div>
      <div class="card-body">
        <div class="row">
          <div>
            <div class="card" *ngIf="userDetails">
              <div class="card-body">
                <div class="row">
                  <!-- Left Half: Image -->
                  <div class="col-md-6">
                    <img src="./assets/img/mEmp.jpeg" alt="Image" class="img-fluid">
                  </div>
                  <!-- Right Half: Card Title and Text -->
                  <div class="col-md-6">
                    <p class="card-text">
                      <span class="h4">Name : {{ userDetails.firstName }}  {{ userDetails.lastName }}</span>
                    </p>
                    <label for="fname" *ngIf="update" >First Name</label>
                    <input id="fname" *ngIf="update" name="fname"  type="text"  [(ngModel)]="userDetails.firstName"  class="form-control form-control-sm">

                    <label for="lname" *ngIf="update" >Last Name</label>
                    <input id="lname" *ngIf="update" name="lname"  type="text"  [(ngModel)]="userDetails.lastName"  class="form-control form-control-sm">
                    <p class="card-text">
                      <span class="h4">Birth Date :  {{ userDetails.birthDate }}</span>
                    </p>
                    <p class="card-text">
                        <span class="h4">Gender :  {{ userDetails.gender }}</span>
                      </p>

                      <p class="card-text">
                        <span class="h4">Email :  {{ userDetails.email }}</span>
                      </p>
                      <p class="card-text">
                        <span class="h4">Contact Number :  {{ userDetails.contactNumber }}</span>
                      </p>
                      <p class="card-text">
                        <span class="h4">Aadhaar Id :  {{ userDetails.aadharId }}</span>
                      </p>
                     <button type="submit" class="btn btn-primary btn-sm" (click)="updateEmployee()" > Update  </button>
                      <button class="btn btn-primary btn-block btn-sm" >Delete </button>
                  </div>     
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div> 


  