

<header>
    <nav
      class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3"
    >
      <div class="container">
        <div
          class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        >
          <ul class="navbar-nav flex-grow">
            <li
              class="nav-item">
              <!-- <a class="nav-link text-dark"  [routerLink]="['/supervisor/store']">Store</a> -->
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" *ngIf="isroleSupervisor()"  [routerLink]="['/supervisor/requests']">Requests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark"  *ngIf="isroleSupervisor()"  [routerLink]="['/supervisor/tray']">My Tray</a>
            
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark"  *ngIf="isroleSupervisor()"  [routerLink]="['/shared/store']">Store</a>
            </li><li class="nav-item">
              <a class="nav-link text-dark"  *ngIf="isroleStoreManager()" [routerLink]="['/storemanager/order']">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark"  *ngIf="isroleStoreWorker()"  [routerLink]="['/storeworker/tasks']">Tasks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark"  *ngIf="isroleStoreIncharge()"  [routerLink]="['/shared/employees']">Employees</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark"  *ngIf="isroleStoreIncharge()"  [routerLink]="['/shared/departments']">departments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark"  *ngIf="isroleStoreIncharge()"  [routerLink]="['/shared/store']">Inventory</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark"  *ngIf="isroleSupervisorIncharge()"  [routerLink]="['/shared/employees']">Supervisor</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  
  
  