<div class="container"> 
    <div class="bg-light ">
      <div class="row border">
        <div class="col-12 col-md-6 overflow-auto" style="max-height: 400px;"  > <!-- Use col-12 to make it full width on all screens -->
          <app-personal-details></app-personal-details>

        </div>
        <div class="col-12 col-md-6 overflow-auto" style="max-height: 400px;" > <!-- Use col-12 to make it full width on all screens -->
          <app-professional-details></app-professional-details>
        </div>
      </div>
    </div>
  </div>
