<div *ngIf="details">
    <h2>Material Details</h2>
    <hr>
    <div class="card" >
      <div class="card-header bg-dark text-white">
        details
      </div>
      <div class="card-body">
        <div class="row">
          <div>
            <div class="card" *ngIf="material">
              <div class="card-body">
                <div class="row">
                  <!-- Left Half: Image -->
                  <div class="col-md-6">
                    <img src="{{material.imageUrl}}" alt="Image" class="img-fluid">
                  </div>
                  <!-- Right Half: Card Title and Text -->
                  <div class="col-md-6">
                    <p class="card-text">
                      <span class="h5">Name : {{ material.name }}</span>
                    </p>
                    <p class="card-text">
                      <span class="h5">Category :  {{ material.type }}</span>
                    </p>
                    <p class="card-text">
                      <span class="h5"  *ngIf="!isSupervisor">Quantity :  {{ material.quantity }}</span>
                    </p>



                    <div *ngIf="isSupervisor">
                    <button type="submit" *ngIf="!add" class="btn btn-primary btn-sm" (click)="addNew()">
                      <i class="fas fa-cart-plus"></i> Add 
                    </button>
                    <label for="quantity" *ngIf="add" >Quantity</label>
                    <input id="quantity" *ngIf="add" name="quantity"  type="number"  [(ngModel)]="request.quantity"  class="form-control form-control-sm">
                      <button class="btn btn-primary btn-block" *ngIf="add" (click)="onAdd(material.name,material.type,request.quantity)">Add to Tray</button>
                    <button class="btn btn-danger btn-block" *ngIf="add" (click)="onCancel()">Cancel</button>     
                  </div>
                  <div *ngIf="!isSupervisor">
                    <button type="submit"class="btn btn-primary btn-sm" *ngIf="!update" (click)="onUpdate()" > Add Material   </button>
                    <label for="quantity" *ngIf="update" >Quantity</label>
                    <input id="quantity"  *ngIf="update" name="quantity" [(ngModel)]="quantityValue" type="number" class="form-control form-control-sm">
                      <button class="btn btn-primary btn-block"  *ngIf="update" (click)="onUpdateQuantity(material.id, quantityValue)">Add</button>
                    <button class="btn btn-danger btn-block"  *ngIf="update" (click)="onCancelUpdate()" >Cancel</button>     
                  </div>


                 </div>     
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div> 


  
