
<div class="content">
<div class="container">
  <div class="card" style="width: 60%;">
      <div class="card-body">
          <h5 class="card-title" *ngIf="task">New Task</h5>
          <h5 class="card-title" *ngIf="!task">No Task!</h5>
          <div *ngIf="task">
              <button class="btn btn-primary" (click)="onView(task.id)">View</button>
          </div>
      </div>
  </div>

  <table class="table table-striped" style="width: 60%;">
      <thead class="thead-dark">
          <tr>
              <th>Task ID</th>
              <th>Date</th>
              <th>Department</th>
              <th>Status</th>
          </tr>
      </thead>
      <tbody *ngFor="let task of tasksHistory">
          <tr>
              <td>{{ task.id }}</td>
              <td>{{ task.date }}</td>
              <td>{{ task.department }}</td>
              <td><button class="btn btn-primary" (click)="onView(task.id)">View</button></td>
          </tr>
      </tbody>
  </table>
</div>
</div>
