<div>
    <div>
      <h2 >Materials</h2>
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="d-grid">
          <select
            (change)="changeMaterial($event)"
            formControlName="MaterialName">
            <option value="">Choose Material</option>
            <option *ngFor="let material of materials" [ngValue]="material">
              {{ material }}
            </option>
          </select>
          <!-- error block -->
          <div  *ngIf="isSubmitted && MaterialName?.invalid">
            <sup>*</sup>Please provide material name
          </div>
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
  
  <app-material-details></app-material-details>
  