<div >
    <label for="fdate">From Date</label>
    <input type="date" id="fdate" [(ngModel)]="fDate"><br>
    <label for="tdate">To Date</label>
    <input type="date" id="tdate" [(ngModel)]="tDate"><br>
    <button type="submit" (click)="getOrderHistoryByDate(fDate,tDate)">Search</button>

    <ol type="number">
        <div *ngFor="let order of orders">
            <li>
                <p>material Name: {{order.name}}  status: {{order.status}}</p>
            </li>
            <hr />
        </div>
    </ol>
</div>