
 

   <div class="container">
    <h1 class="mt-4">Inventory </h1>

    <tr>
      <td>
        <label>Section</label>
          <select  [(ngModel)]="selectedSection" (change)="onSelectedSection()" name="section">
          <option *ngFor="let section of sections" [value]="section">
          {{ section}}
          </option>
          </select>
      </td>
  </tr>
    
    <div class="row">
        <!-- Section 1 -->
          <ng-container *ngFor="let warehouse of warehouses;"  >
            <div class="col-sm-4">
              <div class="card mt-2" style="cursor: pointer;" >
                <div class="card-body">
                  <h5 class="card-title">Section :{{ warehouse.section }}</h5>
                  <h5 class="card-text">Material :{{ warehouse.materialType }}</h5>
                  <h5 class="card-text">Store Manager :{{ warehouse.name }}</h5>
                  <div class="btn-group">
                    <button type="button"  (click)="selectEmployeeForSwap(warehouse)" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Swap</button>&nbsp;&nbsp;
                    <div class="dropdown-menu overflow-auto">
                      <a class="dropdown-item "  *ngFor="let thedata of data;"  (click)="selectEmployeeForSwap(thedata)" >{{ thedata.name }}  ( {{thedata.section}} )</a>
                    </div>
                    <!-- select button -->
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Employee
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item"  *ngFor="let emp of employees" >{{ emp.name }}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </ng-container>
        
    </div>
</div>
