<!-- <hr/>
<a routerLink="home">Home</a> | 
<a routerLink="store">Store</a> |
<a routerLink="requestHistory">My Request</a>|
<a routerLink="profile">My Profile</a> | 
<a routerLink="orderhistory">Order History</a>  -->


<ul>
    <li><a routerLink="home">Home</a> </li>
    <li><a routerLink="store">Store</a></li>
    <li><a routerLink="requestHistory">My Request</a></li>
    <li><a routerLink="orderhistory">Order History</a> </li>
    <li><a routerLink="taskshistory">Tasks</a> </li>
    <li><a routerLink="employees">Employees</a> </li>
  </ul>

  <router-outlet></router-outlet>
