<h2>Insert New Material</h2>

<form  #insertForm="ngForm" (ngSubmit)="onSubmit(insertForm)">
    <label for="name">Title</label>
    <input type = "text" name = "name" id="name" ngModel>
    <br/>
  
    <table>
        <tr>
            <td>
                <label>Category</label>
            </td>
            <td>
                <select  [formControl]="category"  name="category">
                <option *ngFor="let category of categories" [value]="category.type">
                {{ category.type }}
                </option>
                </select>
            </td>
        </tr>

   </table>
<br/>
<label for="name">Unit Price</label>
<input type = "number" name = "unitprice" id="unitprice" ngModel>
<br/>
<label for="name">Quantity</label>
<input type = "number" name = "quantity" id="quantity" ngModel>
<br/>

<div class="row" style="margin-bottom:15px;">
    <div class="col-md-3">
    <input type="file" id="img" name="img" accept="image/png, image/jpeg"  #file  (change)="uploadFile(file.files)" style="display:none;" multiple>
    <button type="button"  (click)="file.click()">Upload File</button>
</div>
    <br>
    <div class="col-md-4">
        <span class="upload" *ngIf="progress > 0">
          {{progress}}%
        </span>
        <span class="upload" *ngIf="message">
          {{message}}
        </span>
      </div>
</div>
<input type="submit" value="submit">
</form>

