<div class="container"  style="width:90%">
    <h2 >Employees</h2>
    <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-2">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
            <div class="d-flex flex-wrap align-items-center mb-2">
                 <ul class="navbar-nav flex-grow">  
                    <li class="nav-item">
                        <a class="nav-link text-dark border rounded p-2 " (click)="storeManagers()">
                            <i class="fas fa-spinner text-warning me-2"></i> Store Managers
                            <span class="badge badge-warning">{{storeManagerCount}}</span>
                        </a>
                    </li>&nbsp;
                    <li class="nav-item">
                        <a class="nav-link text-dark border rounded p-2" (click)="storeWorkers()">
                            <i class="fas fa-check-circle text-success me-2"></i> Store Workers
                            <span class="badge badge-success">{{storeWorkerCount}}</span>
                        </a>
                    </li>    
                </ul>
            </div>
        </div>
    </nav>
    

<div >
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Role</th>
                <th class="text-center">Hire Date</th>
            </tr>
        </thead>
        <tbody>
            <tr mat-row *ngFor="let employee of employees"    (click)="selectEmployee(employee.userId)"            >
                <td class="text-center">{{ employee.name}}</td>
                <td class="text-center">{{ employee.role }}</td>
                <td class="text-center">{{ employee.hireDate | date:'dd/MM/yyyy' }}</td> 
            </tr>
        </tbody>
    </table>
   </div> 
   <button (click)="addNewEmployee()" >Add New Employee</button>
