
  
<div *ngIf="details">
    <h2>Request Details</h2>
    <hr>
    <div class="card" >
      <div class="card-header bg-dark text-white">
        details
      </div>
      <div class="card-body">
        <div class="row">
          <div>
            <div class="card " *ngFor="let cart of carts">
              <div class="card-body">
                <h5 class="card-title">{{ cart.category }}</h5>
                <p class="card-text">Status: {{ cart.status }}</p>
                <p class="card-text">Quantity: {{ cart.quantity }}</p>
                <label for="quantity" *ngIf="editQuantity" >Edit Quantity</label>
                <input id="quantity" name="quantity" *ngIf="editQuantity" type="number"  [(ngModel)]="cart.quantity">
              </div>
              <div class="card-footer">
                <button class="btn btn-primary" *ngIf="editQuantity==false"  (click)="onEdit()">Edit</button>
                <button class="btn btn-primary"*ngIf="editQuantity" (click)="onEditQuantity(cart.id,cart.quantity)">Edit Quantity</button>
                <button class="btn btn-danger" *ngIf="editQuantity==false" [disabled]="cart.status !== 'inprogress'" (click)="onRemove(cart.id)">Remove</button>
                <button class="btn btn-danger" *ngIf="editQuantity"  (click)="onCancel()">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  