
<div class="container"  style="width:90%">
    <h2 >Tasks</h2>
    <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-2">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
            <div class="d-flex flex-wrap align-items-center mb-2">
                 <ul class="navbar-nav flex-grow">  
                    <li class="nav-item">
                        <a class="nav-link text-dark border rounded p-2 " (click)="onPendingTasks()">
                            <i class="fas fa-spinner text-warning me-2"></i> Pending Tasks
                            <span class="badge badge-warning">{{pendingTaskcount}}</span>
                        </a>
                    </li>&nbsp;
                    <li class="nav-item">
                        <a class="nav-link text-dark border rounded p-2" (click)="onCompletedTasks()">
                            <i class="fas fa-check-circle text-success me-2"></i> Completed Tasks
                            <span class="badge badge-success">{{completedTaskcount}}</span>
                        </a>
                    </li>    
                </ul>
            </div>        
        </div>
    </nav>
<div >
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">TaskID</th>
                <th class="text-center">Date</th>
                <th class="text-center">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr mat-row *ngFor="let task of tasks" (click)="onSelectedTask(task.id)">
                <td class="text-center">{{ task.id }}</td>
                <td class="text-center">{{ task.date | date:'dd/MM/yyyy' }}</td>
                <td class="text-center">{{ task.status }}</td>      
            </tr>
        </tbody>
    </table>
   </div> 


   <div *ngIf=" tasks.length === 0" class="card mt-3">
    <div class="card-body bg-danger text-white">
        <h5 class="card-title">No Tasks Found</h5>
        <p class="card-text">There are currently no Task available..</p>
    </div>
</div> 


   </div>
    