<div class="main-content">
    <div class="container-fluid ">
          <div class="row">
            <div class="col-md-7">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Update Form</h4>
                    </div>
                    <div class="card-body">
                      <form #UpdateForm="ngForm"   (ngSubmit)="Update (UpdateForm.value)">
                        <div class="row">
                            <div class="col-md-8">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="first Name" type="text" name="employeeFirstName" #employeeFirstName="ngModel"
                                [(ngModel)]="employee.employeeFirstName">
                              </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="last Name" type="text"  name="employeeLastName" #employeeLastName="ngModel"
                                [(ngModel)]="employee.employeeLastName">
                              </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="BirthDate" type="text"  name="birthDate" #birthDate="ngModel"
                                [(ngModel)]="employee.birthDate" readonly> 
                                <input matInput placeholder="BirthDate" type="date"  [(ngModel)]="employee.birthDate">
                              </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="HireDate" type="text"  name="hireDate" #hireDate="ngModel"
                                [(ngModel)]="employee.hireDate" readonly> 
                                <input matInput placeholder="HireDate" type="date"  [(ngModel)]="employee.hireDate">
                              </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Contact Number" type="text" name="contactNumber" #contactNumber="ngModel"
                                [(ngModel)]="employee.contactNumber">
                              </mat-form-field>
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-md-8">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email" type="email" name="email" #email="ngModel"
                                    [(ngModel)]="employee.email">
                                  </mat-form-field>
                                </div>
  
                            </div>
                 
                            <div class="row">
                                <div class="col-md-8">
                                    <h6><span class="tim-note"></span>Gender</h6>
                                    <input matInput placeholder="Gender" type="text"  name="gender" #gneder="ngModel"
                                [(ngModel)]="employee.gender" readonly> 

                                  <input type="radio" id="Male" name="gender" value="1"  [(ngModel)]="employee.gender">
                                    <label for="Male">Male</label><br>
                                    <input type="radio" id="Female" name="gender" value="2"  [(ngModel)]="employee.gender">
                                    <label for="Female">Female</label><br>
                                    <input type="radio" id="Others" name="gender" value="3"  [(ngModel)]="employee.gender">
                                    <label for="Others">Others</label>
                                </div>
                            </div>     
                            <div class="row">
                                <div class="col-md-8">
                                  <h6><span class="tim-note"></span>Department</h6>
                                  <input matInput placeholder="Department" type="text"  name="department" #department="ngModel"
                                  [(ngModel)]="employee.department" readonly> 
                                  <input type="radio" id="hr" name="department" value="1"  [(ngModel)]="employee.departmentId">                                    <label for="hr">HR</label><br>
                                    <input type="radio" id="store" name="department" value="2"  [(ngModel)]="employee.department">
                                    <label for="store">Store</label><br>
                                    <input type="radio" id="gb550" name="department" value="3"  [(ngModel)]="employee.department">
                                    <label for="gb550">GB550 Line</label><br>
                                    <input type="radio" id="gb400" name="department" value="4"  [(ngModel)]="employee.department">
                                    <label for="gb400">GB400 Line</label><br>
                                    <input type="radio" id="gb540" name="department" value="5"  [(ngModel)]="employee.department">
                                    <label for="gb540">GB540 Line</label><br>
                                    <input type="radio" id="worker" name="department" value="6"  [(ngModel)]="employee.department">
                                    <label for="worker">Store worker</label>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-8">
                                  <h6><span class="tim-note"></span>Role</h6>
                                  <input matInput placeholder="Role" type="text"  name="role" #role="ngModel"
                                  [(ngModel)]="employee.role" readonly> 
                                  <input type="radio" id="incharge" name="role" value=1 [(ngModel)]="employee.role">
                                    <label for="incharge">Incharge</label><br>
                                    <input type="radio" id="storeManager" name="role" value=2 [(ngModel)]="employee.role">
                                    <label for="storeManager">Store Manager</label><br>
                                    <input type="radio" id="supervisor" name="role" value=3  [(ngModel)]="employee.role">
                                    <label for="supervisor">Supervisor</label>
                                    
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
  
        </div>
    </div>
  </div>
