
  <div class="container" >  
    <div class="bg-light ">
      <div class="row border">
        <div class="col-12 col-md-8 overflow-auto" style="max-height: 500px;"  >  
          <!-- Request History Component -->
          <app-materials></app-materials>
        </div>
        <div class="col-12 col-md-4 overflow-auto" style="max-height: 500px;" > <!-- Use col-12 to make it full width on all screens -->
          <!-- Details Component -->
          <app-material-details></app-material-details>
        </div>
    </div>
    </div>


