
<div>
    <h2><b> Personal Information Form</b> </h2>
</div>
<hr>

  <div class="container col-sm-7">
    <form (ngSubmit)="submitForm()" #form="ngForm">
      <div class="form-group row">
        <label for="fname" class="col-sm-3 col-form-label">First Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="fname" name="fname" [(ngModel)]="formData.firstName" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="lname" class="col-sm-3 col-form-label">Last Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="lname" name="lname" [(ngModel)]="formData.lastName" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="formData.email" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="gender" class="col-sm-3 col-form-label">Gender</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="gender" name="gender" [(ngModel)]="formData.gender" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="contactNumber" class="col-sm-3 col-form-label">Contact Number</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="contactNumber" name="contactNumber" [(ngModel)]="formData.contactNumber" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="birthdate" class="col-sm-3 col-form-label">BirthDate</label>
        <div class="col-sm-9">
          <input type="date" class="form-control" id="birthdate" name="birthdate" [(ngModel)]="formData.birthDate" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="aadharid" class="col-sm-3 col-form-label">Adhar ID</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="aadharid" name="Adharid" [(ngModel)]="formData.aadharId" required>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-9 offset-sm-3">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
  