<div *ngIf="newDetails">
  <div>
    <h2>Details</h2>
    <div class="container" style="width: 60%;" *ngIf="inprogressOrder">
      <div>
        <p><b>Date : {{orderDate|date}} </b></p>
      </div>
      <div>
        <p> <b> Department :{{department}} </b> </p>
      </div>
    </div>
    <div *ngIf="isShipper">
      <p><b> Name :{{shipper.name}} </b> </p>
    </div>
    <hr>
    <div class="card" *ngFor="let order of orderDetails">
      <div class="card-header bg-dark text-white">
        Details
      </div>
      <div class="card-header bg-dark text-white" *ngIf="inprogressOrder">
        <b style="color:Tomato;">Available Quantity : {{order.name}} :{{order.availableQuantity}} </b>
      </div>
      <div class="card-body">
        <div class="row">
          <div>
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <!-- Left Half: Image -->
                  <div class="col-md-6">
                    <img src="{{order.imageUrl}}" alt="Image" class="img-fluid">
                  </div>
                  <!-- Right Half: Card Title and Text -->
                  <div class="col-md-6">
                    <p class="card-text">
                      <strong>Name:</strong> {{ order.name }}
                    </p>
                    <p class="card-text">
                      <strong>Category:</strong> {{ order.category }}
                    </p>
                    <p class="card-text">
                      <strong>Quantity:</strong> {{ order.quantity }}
                    </p>
                    <div *ngIf="inprogressOrder && !order.itemStatus">
                      <input style="text-align:center;" name="orderQuantity" value="{{order.quantity}}"
                        class="form-control form-control-sm" #quantity type="number">

                      <button *ngIf="!order.itemStatus" class="btn btn-success"
                        (click)="onApproved(order.id, quantity.value)">
                        <span class="glyphicon glyphicon-ok">Approve </span>
                      </button>
                    </div>
                    <span *ngIf="order.itemStatus" class="glyphicon glyphicon-ok text-success"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>