<div *ngIf="newDetails">
  <div>
    <h2 *ngIf="!inprogressOrder">Order Details</h2>
    <h2 *ngIf="inprogressOrder">Request Details</h2>
    <div class="container" style="width: 100%; border: 1px solid #333232; padding: 20px; background-color: #e9e8e8;">
      
      <div>
          <p><strong>Date:</strong> {{ orderDate | date }}</p>
      </div>
      <div>
          <p><strong>Department:</strong> {{ department }}</p>
      </div>
      <div *ngIf="isShipper">
          <p><strong>Shipper:</strong> {{ shipperName }}</p>
      </div>
  </div>
  
    <div class="card mb-3" *ngFor="let order of orderDetails">
      <div class="card-header bg-dark text-white">
          Details
      </div>
      <div class="card-header bg-dark text-white" *ngIf="inprogressOrder">
          <b style="color: Tomato;">Available Quantity: {{order.name}}: {{order.availableQuantity}}</b>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <img src="{{ order.imageUrl }}" alt="Image" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <p class="card-text">
              <strong>Name:</strong> {{ order.name }}
            </p>
            <p class="card-text">
              <strong>Category:</strong> {{ order.category }}
            </p>
      
            <div *ngIf= "inprogressOrder && !order.itemStatus" class="mb-3">
              <label for="orderQuantity" class="form-label">Quantity</label>
              <input  style="text-align: center;" id="orderQuantity" name="orderQuantity" [(ngModel)]="order.quantity" class="form-control" type="number" >
            </div>
            <div  *ngIf="inprogressOrder && !order.itemStatus">
            <button  class="btn btn-success" (click)="onApproved(order.id, order.quantity)">
              <span class="glyphicon glyphicon-ok"></span> Approve 
            </button>
            </div>
            <div *ngIf="!inprogressOrder && order.itemStatus">
            <span  class="glyphicon glyphicon-ok text-success"></span>
          </div>
          </div>
        </div>
      </div>
      
  </div>
  
  
  </div>
</div>

<div *ngIf="!newDetails" >
    <img src="./assets/img/notFound.png" width="80%" height="80%">
</div> 