<div *ngIf="isLoggedIn()" >
  <nav class="navbar">

    <ul class="nav-links">
      <!-- <li *ngIf="isLoggedIn()"><a routerLink="auth/login" routerLinkActive="router-link-active">Login</a></li> -->
          <li *ngIf="isroleStoreManager()"><a routerLink="/storemanager/dashboard" >Dashboard</a></li>
      <li *ngIf="isroleStoreManager()"><a routerLink="/storemanager/store" >store</a></li>
      <li *ngIf="isroleStoreManager()"><a routerLink="/storemanager/orderhistory" routerLinkActive="router-link-active">orders</a></li>
     
       <li *ngIf="isroleSupervisor()"><a routerLink="/supervisor/store" routerLinkActive="router-link-active">Dashboard</a></li>
      <li *ngIf="isroleSupervisor()"><a routerLink="/supervisor/requesthistory" routerLinkActive="router-link-active">add collection</a></li>

      <li *ngIf="isroleStoreWorker()"><a routerLink="merchant/dashboard" routerLinkActive="router-link-active">dashboard</a></li>
      <li *ngIf="isroleStoreWorker()"><a routerLink="merchant/shipmentlist" routerLinkActive="router-link-active">Shipments</a></li>

    </ul>
  </nav>

  <!-- <app-dashboard *ngIf="isroleStoreManager()"></app-dashboard> -->
  <!-- <router-outlet></router-outlet> -->

</div>


