<div *ngIf="trays.length>0">
    <div *ngIf="trays" class="container" style="width: 60%">
        
        <h4 class="mt-5">My Request <button class="btn-float-right btn btn-danger btn-sm" (click)="onRemoveAll()">Remove All</button></h4>
         <br>
        <!-- Card container -->
        <div class="card mt-3" *ngFor="let tray of trays">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="card-title">{{ tray.category }}</h5>
                <button class="btn btn-secondary btn-sm" (click)="onRemove(tray.id)">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <img src="{{ tray.imageUrl }}" alt="Image" width="40%" height="40%" class="img-fluid" />
                    </div>
            
                    <div class="col-md-5">
                        <h4>{{ tray.name }}</h4>
                    </div>
            
                    <div class="col-md-4">
                        <div class="d-flex justify-content-between align-items-center">
                            <button class="btn btn-danger btn-sm" (click)="decrement(tray.id)" type="button">-</button>
                            <input type="text" [(ngModel)]="tray.quantity" class="form-control form-control-sm text-center" />
                            <button class="btn 1 btn btn-primary btn-sm" (click)="increment(tray.id)" type="button">+</button>
                            <button class="btn 2 btn btn-primary btn-sm" (click)="onEditQuantity(tray.id,tray.quantity)" type="button">edit</button>
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
    
        
        <div class="mt-3">
          <button class="btn btn-success" (click)="onOrder()">Place Request</button>
          
        </div>
      </div>
      
    </div>
    <div *ngIf="trays.length==0" class="card mt-3">
        <div class="card-body bg-danger text-white">
            <h5 class="card-title"> No Material Found</h5>
            <p class="card-text">There are currently no materials..</p>
        </div>
    </div>
      



      
