  <div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                <h3>catagories</h3>
                <div class="d-grid">
                  <select
                    (change)="changeMaterial($event)"
                    formControlName="MaterialName">
                    <option value="">Choose Material</option>
                    <option *ngFor="let material of materials" [ngValue]="material">
                      {{ material }}
                    </option>
                  </select>
                  <!-- error block --> 
                  <div  *ngIf="isSubmitted && MaterialName?.invalid">
                    <sup>*</sup>Please provide material name
                  </div>
                  <button type="submit">Submit</button>
                </div>
              </form>
        </div>
    </div>
</div>

<app-details></app-details>