<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6">
                <input type="number" [(ngModel)]="employeeId">
                <button (click)="getEmployeeById(employeeId)" class="btn btn-success">Search</button>

                <div class="card card-profile" *ngIf="employee && employee.employeeId !=0">
                    <div >
                        <a href="javascript:void(0)">
                            <img class="img" src="{{ employee.imgUrl }}" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">{{employee.role}}</h6>
                        <h4 class="card-title"> {{employee.employeeFirstName}} {{ employee.employeeLastName}}</h4>
                        <p class="card-description"> </p>
                        <h5><span class="tim-note"></span>Employee Id: {{ employee.employeeId}}</h5>
                        <h5><span class="tim-note"></span>Email: {{ employee.email}}</h5>
                        <h5><span class="tim-note"></span>Contact NO: {{ employee.contactNumber }} </h5>
                        <h5><span class="tim-note"></span>Department: {{ employee.department }} </h5>
                        <h5><span class="tim-note"></span>BirthDate: {{ employee.birthDate}}</h5>
                        <h5><span class="tim-note"></span>Hire Date: {{ employee.hireDate}}</h5>
                        <h5><span class="tim-note"></span>gender: {{ employee.gender}}</h5>
                        <button mat-raised-button type="submit" (click)="onUpdate(employeeId)" class="btn btn-danger center">Update</button>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>


<!-- <app-update-employee></app-update-employee> -->