<div class="container">
    <input type="week" name="fromdate"#fromdate id="fromdate">
    <input type="date" name="todate" #todate id="todate">
    <button (click)="dates(fromdate.value,todate.value)">Search</button>
    <div class="row">
      <div class="col-sm-8"><canvas
        baseChart
        class="chart"
        [data]="barChartData"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [type]="barChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"
      >
      </canvas></div>
    </div>
    </div>



<button mat-button mat-raised-button color="primary" (click)="randomize()">
  Update
</button>