<div class="container"> <!-- Added p-0 to remove container padding -->
    <div class="bg-light ">
      <div class="row border">
        <div class="col-12 col-md-7 overflow-auto" style="max-height: 400px;"  > <!-- Use col-12 to make it full width on all screens -->
          <!-- Request History Component -->
          <app-orderhistory></app-orderhistory>
        </div>
        <div class="col-12 col-md-5 overflow-auto" style="max-height: 400px;" > <!-- Use col-12 to make it full width on all screens -->
          <!-- Details Component -->
          <app-order-details></app-order-details>
        </div>
      </div>
    </div>
  </div>
