
<div>
    <h2><b> Personal Information Form</b> </h2>
</div>
<hr>

  <div class="container col-sm-7">
    <form [formGroup]="ngForm" (ngSubmit)="submitForm()" #form="ngForm">
        <div class="form-group row">
            <label for="role" class="col-sm-3 col-form-label">Role</label>
            <div class="col-sm-9">
         <select id="role" name="role"
                (change)="changeRole($event)"
                formControlName="roleName">
                <option disabled>Choose Role</option>
                <option *ngFor="let role of roles">
                  {{role}}
                </option>
            </select>
        </div>
        </div>

        <div class="form-group row">
            <label for="department" class="col-sm-3 col-form-label">Department</label>
            <div class="col-sm-9">
         <select id="department" name="department"
                (change)="changeDepartment($event)"
                formControlName="department">
                <option disabled>Choose Role</option>
                <option *ngFor="let department of deparments">
                  {{department}}
                </option>
            </select>
        </div>
        </div>

      <div class="form-group row">
        <label for="birthdate" class="col-sm-3 col-form-label">Hire Date</label>
        <div class="col-sm-9">
          <input type="date" class="form-control" id="birthdate" name="birthdate" [(ngModel)]="employee.hireDate" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="img" class="col-sm-3 col-form-label">Image</label>
        <div class="col-sm-9">
        <input type="file" id="img" name="img" accept="image/png, image/jpeg"  #file  (change)="uploadFile(file.files)" style="display:none;" multiple>
        <button type="button"  (click)="file.click()">Upload File</button>
        </div>
     </div>
        <br>

        <div class="col-md-4">
            <span class="upload" *ngIf="progress > 0">
              {{progress}}%
            </span>
            <span class="upload" *ngIf="message">
              {{message}}
            </span>
          </div>
    

      <div class="form-group row">
        <div class="col-sm-9 offset-sm-3">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
   
<!-- 
  <div class="container-fluid">
    <div class="row">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <h3>catagories</h3>
            <div class="d-grid">
              <select
                (change)="changeRole($event)"
                formControlName="roleName">
                <option disabled>Choose Role</option>
                <option *ngFor="let role of roles">
                  {{ role }}
                </option>
              </select>
               error block --> 
              <!-- <div  *ngIf="isSubmitted && roleName?.invalid">
                <sup>*</sup>Please provide material name
              </div> -->
              <!-- <button type="submit" >Submit</button>
            </div>
          </form>
    </div>
</div>  -->
