<div class="main-content">
  <div class="container-fluid ">
        <div class="row">
          <div class="col-md-4">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Login Form</h4>
                  </div>
                  <div class="card-body">
                    <form #loginForm="ngForm" (ngSubmit)="Login (loginForm.value)">
                          
                          <div class="row">
                              <div class="col-md-8">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Email" type="text"  [(ngModel)]="login.email">
                                </mat-form-field>
                              </div>

                          </div>
                          <div class="row">
                              <div class="col-md-8">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Password" type="password"  [(ngModel)]="login.password">
                                </mat-form-field>
                              </div>
                          </div>
                      
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Login</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>

<div *ngIf="status">
  <p>record inserted sucessfully</p>
</div>

<div *ngIf="status == false">
  <p>Error While inserting</p>