<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <!-- <div class="ct-chart" id="dailySalesChart"></div> -->
                        <img  src="/assets/img/ballBearing.jpeg" alt="" >
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Material Type: Bearing</h4>
                        <h4 class="card-title">Material Name: Ball Bearing</h4>
                        <p class="card-category">
                            <span class="text-success"> </span> Qunatity: 2300</p>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-left">Order</button> <button mat-raised-button type="submit" class="btn btn-danger pull-left">Delete</button>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div>