<div class="main-content">
    <div class="container-fluid ">
        <h2>Material Order Form</h2>

        <div class="row">
            <div class="col-md-4">
                <form>
                    <br>
                    <label for="mname">Name:</label>
                    <input type="text" id="mname" name="mname"> <br>
                    <label for="type">Material Type:</label>
                    <input type="text" id="type" name="type"><br>
                    <label for="unitprice">Unit Price:</label>
                    <input type="number" id="unitprice" name="unitprice"><br>
                    <label for="quantity">Quantity:</label>
                    <input type="number" id="quantity" name="quantity"><br>
                </form>
            </div>
        </div>
    </div>
</div>