<!-- <app-request-list></app-request-list> -->
<!-- 
<app-request-details></app-request-details> -->
<!-- <app-roles></app-roles> -->

<!-- <app-date-search></app-date-search> -->

<!-- <app-radio-search></app-radio-search> -->
<!-- <app-nested-dropdown></app-nested-dropdown> -->
<!-- <grid-list></grid-list> -->
<!-- <pagination></pagination> -->
  <!-- <router-container></router-container>  -->
<!-- <app-popup></app-popup> -->
<!-- <app-weekly-report></app-weekly-report> -->
<!-- <app-monthly-report></app-monthly-report> -->
<!-- <app-yearly-report></app-yearly-report> -->
<app-router></app-router>
<!-- <personalform></personalform> -->
<!-- <profileform></profileform> -->