<div class="container-fluid p-0"> <!-- Use container-fluid for full width and p-0 to remove container padding -->
    <div class="bg-light">
        <div class="row border">
            <div class="col-12 col-md-8 overflow-auto" style="max-height: 400px;">
                <!-- Request History Component -->
                <app-request-history></app-request-history>
            </div>
            <div class="col-12 col-md-4 overflow-auto" style="max-height: 400px;">
                <!-- Details Component -->
                <app-request-details></app-request-details>
            </div>
        </div>
    </div>
</div>
