
<div class="container" *ngIf="count">
    <div class="row">
        <div class="col-md-3">
            <div class="dashboard-card">
                <div class="card-title">Total Stocks</div>
                <div class="card-count">{{count.totalStocks}}</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dashboard-card">
                <div class="card-title">Total Materials</div>
                <div class="card-count">{{count.totalMaterials}}</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dashboard-card">
                <div class="card-title">Total Categories</div>
                <div class="card-count">{{count.totalCategories}}</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dashboard-card">
                <div class="card-title">Total Employees</div>
                <div class="card-count">74</div>
            </div>
        </div>
    </div>
</div>



<div class="container mt-4" *ngIf="order">
    <!-- First Row -->
    <div class="row">
        <div class="col-md-3">
            <div class="card bg-info border-black text-white rounded hoverable" (mouseenter)="showAllOrders = true"
                (mouseleave)="showAllOrders = false">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="icon">
                                <img src="./assets/img/theBox.png" width="100" height="100" alt="Total Employees Icon"
                                    class="img-fluid rounded">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h5 class="card-title">All <br>Orders</h5>
                            <p class="card-count-main" *ngIf="!showAllOrders">{{order.totalOrders}}</p>
                        </div>
                    </div>
                    <!-- Additional data with ngIf -->
                    <!-- Additional data with ngIf -->
                    <div class="additional-data additional-info" *ngIf="showAllOrders">
                        <div class="additional-data-container">Delivered: {{order.completedOrders}}</div>
                        <div class="additional-data-container">Cancelled: {{order.cancelledOrders}}</div>
                        <div class="additional-data-container">Pending: {{order.pendingOrders}}</div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-primary text-white border-black rounded hoverable"
                (mouseenter)="showTodaysOrders = true" (mouseleave)="showTodaysOrders = false">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="icon">
                                <img src="./assets/img/box.png" width="100" height="100" alt="Total Employees Icon"
                                    class="img-fluid rounded">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h5 class="card-title">Todays Orders</h5>
                            <p class="card-count-main" *ngIf="!showTodaysOrders">{{order.todaysOrders}}</p>
                        </div>
                    </div>
                    <!-- Additional data with ngIf -->
                    <div class="additional-data" *ngIf="showTodaysOrders">
                        <p>Delivered : 4667</p>
                        <p>Cancelled : 2367</p>
                        <p>Pending : 6776</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-info border-black text-white rounded hoverable" (mouseenter)="showEmployeesData = true"
                (mouseleave)="showEmployeesData = false">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="icon">
                                <img src="./assets/img/employee.png" width="100" height="100" alt="Total Employees Icon"
                                    class="img-fluid rounded">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h5 class="card-title">Total Employees</h5>
                            <p class="card-count-main" *ngIf="!showEmployeesData">123</p>
                        </div>
                    </div>
                    <!-- Additional data with ngIf -->
                    <div class="additional-data" *ngIf="showEmployeesData">
                        <p>Store Managers: 12</p>
                        <p>Store Workers: 8</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card  bg-danger border-black text-white rounded hoverable"
                (mouseenter)="showInventoryData = true" (mouseleave)="showInventoryData = false">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="icon">
                                <img src="./assets/img/warehouse.png" width="90" height="90" alt="Total Employees Icon"
                                    class="img-fluid rounded">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h5 class="card-title">Materials To Reorder</h5>
                            <p class="card-count-main" *ngIf="!showInventoryData">3</p>
                        </div>
                    </div>
                    <!-- Additional data with ngIf -->
                    <div class="additional-data" *ngIf="showInventoryData">
                        <p>Bearings : 23</p>
                        <p>First Gear : 29</p>
                        <p>Housing : 55</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



