.card.hoverable:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Add shadow on hover */
    transform: scale(1.05); /* Increase size on hover */
    transition: transform 0.2s, box-shadow 0.2s; /* Add smooth transition */
    background-color: #0d3661; /* Change background color on hover */
    color: rgb(87, 89, 90); /* Change text color on hover */
}

.card.hoverable:hover .additional-data {
    opacity: 1; /* Show additional data on hover */
    transform: translateY(0); /* Slide down effect */
    transition: opacity 0.2s, transform 0.2s; /* Add a smooth transition */
}
.additional-info {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: center; /* Optional: Center text */
    height: 100%; /* Optional: Make the container take full height */
  }
  
  