

<h3>Shipping Details</h3>
<div class="container" >
    <div class="product" *ngIf="department"> <p><b>Drop:{{department}}</b></p> </div>

</div>


<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Drop: {{department}} </h5>
          <div *ngFor="let task of tasks">
            <p class="card-text">Order Id : {{task.orderId}}  Pick Up : {{task.section}} </p><hr>
          </div>
          <a  (click)="onUpdate()" *ngIf="status==false" class="btn btn-primary">Picked</a>
          <a  *ngIf="status==true" (click)="onDeliver()" class="btn btn-primary">Deliver</a>
        </div>
      </div>
    </div>
  </div>