

<h3>Shipping Details</h3>
<div class="container" >
    <div class="product" *ngIf="department"> <p><b>Drop:{{department}}</b></p> </div>

</div>


<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Drop: {{department}} </h5>
          <div *ngFor="let task of tasks">
            <p class="card-text"  *ngIf="picked==false && deliver==false" >Order Id : <b>{{task.orderId}} </b>   Pick Up : <b>{{task.section}} </b> </p><hr>
            <p class="card-text"  *ngIf="picked==true  && deliver==false" >Order Id : <b>{{task.orderId}} </b>   Drop : <b>{{department}} </b> </p><hr>
          </div>
          <a  (click)="onPicked()" *ngIf="picked==false && deliver==false" class="btn btn-primary">Picked</a>
          <a  *ngIf="picked==true  && deliver==false" (click)="onDeliver()" class="btn btn-primary">Deliver</a>
        </div>
      </div>
      <button (click)="onBack()">back</button>
    </div>
  </div>

  <!-- <div >
    <table style="width:60%">
        <thead>
            <th></th>
            <th>Order ID</th>
            <th>Pick-Up</th>
        </thead>

        <tbody>
            <tr  *ngFor="let task of tasks">
                <td><img src="{{orderImg}}" width="50" hight="50" alt=""></td>
                <td> {{task.orderId}}</td> 
                <td> {{task.section}}</td> 
                <td><a *ngIf="picked==false && deliver==false" (click)="onPicked()"  class="btn btn-primary">Picked</a></td>
                <td *ngIf="picked==true  && deliver==false" ><a  (click)="onDeliver()" class="btn btn-primary">Deliver</a></td>
            </tr>  

        </tbody>
    </table>

</div> -->


  <div class="popup-overlay" *ngIf="showPopup">
    <div class="popup">
      <h2>Enter Password</h2>
      <input type="password" [(ngModel)]="inputValue" placeholder="Enter your input" />
      <button (click)="onPopupOk()">OK</button>
      <button (click)="onPopupCancel()">Cancel</button>
    </div>
  </div>

  <div class="popup-overlay" *ngIf="showPopup2">
    <div class="popup">
      <h2>Enter Password</h2>
      <input type="password" [(ngModel)]="inputValue" placeholder="Enter your input" />
      <button (click)="onPopupOkForPicked()">OK</button>
      <button (click)="onPopupCancelForPicked()">Cancel</button>
    </div>
  </div>