  
  <div >
    <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header bg-info text-white text-center">
                Employee Information
              </div>
              <div class="card-body">
                <form (ngSubmit)="onSubmit2()" #employeeForm="ngForm">
                  <div class="form-group">
                    <label for="hireDate">Hire Date</label>
                    <input type="date" class="form-control" id="hireDate" name="hireDate" [(ngModel)]="newEmployee.hireDate" required>
                  </div>
                  <div class="form-group">
                    <label for="imgUrl">Image</label>
                    <input type="file" class="form-control" id="imgUrl" name="imgUrl" [(ngModel)]="newEmployee.imageUrl"   required>
                  </div>
                  <div class="form-group">
                    <label for="role">Role</label>
                    <select class="form-control" id="role" name="role" [(ngModel)]="newEmployee.role" required>
                      <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="department">Department</label>
                    <select class="form-control" id="department" name="department" [(ngModel)]="newEmployee.department" required>
                      <option *ngFor="let department of departments" [value]="department">{{ department }}</option>
                    </select>
                  </div>
                  
                  <button type="submit" class="btn btn-primary" [disabled]="!employeeForm.valid">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      
  </div>
  