<table  style="width:100%">
    <thead>
        <th> EmployeeId </th>
        <th>Section</th>
        <th> Material Name </th>
        <th> Material Category</th>
        <th>Quantity </th>
    </thead>
    <tbody *ngFor="let item of selectedItems ">
        <tr>
            <td> {{item.employeeId}} </td>
            <td> {{item.section}} </td>
            <td> {{item.name}} </td>
            <td> {{item.category}} </td>
            <td> {{item.quantity}} </td>
        </tr>
    </tbody>
</table>

<button type="button" (click)="previous()" [disabled]="isDisabledPrev">Previous</button>
<button type="button" (click)="next()" [disabled]="isDisabledNext">Next</button>