<!-- <ul>  
    <li *ngFor="let item of gridItems ">  
       {{ item }}  
    </li>

 </ul>   -->

<table style="width:100%">
    <thead>
        <th> Material Name </th>
        <th> Floor </th>
        <th> Section </th>
        <th> Warehouse</th>
        <th>Quantity </th>
    </thead>
    <tbody *ngFor="let item of selectedItems">
        <tr>
            <td> {{item.name}} </td>
            <td> {{item.floor}} </td>
            <td> {{item.section}} </td>
            <td> {{item.warehouse}} </td>
            <td> {{item.quantity}} </td>
        </tr>
    </tbody>
</table>

<button type="button" (click)="previous()">Previous</button>
<button type="button" (click)="next()">Next</button>