<div *ngIf="material">
    <h2>Material Details</h2>
    <hr>
    <div class="card" >
      <div class="card-header bg-dark text-white">
        details
      </div>
      <div class="card-body">
        <div class="row">
          <div>
            <div class="card" *ngIf="material">
              <div class="card-body">
                <div class="row">
                  <!-- Left Half: Image -->
                  <div class="col-md-6">
                    <img src="./assets/img/Bearing.jpeg" alt="Image" class="img-fluid">
                  </div>
                  <!-- Right Half: Card Title and Text -->
                  <div class="col-md-6">
                    <p class="card-text">
                      <strong>Title:</strong> {{material.name }}
                    </p>
                    <p class="card-text">
                      <strong>Quantity:</strong> {{material.quantity }}
                    </p>
                   </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  